﻿/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}


/* jQuery mobile styles
-----------------------------------------------------------*/

/* Make listview buttons fill the whole horizontal width of the screen */
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li
{
    padding-right: 15px;
}

.ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a, .ui-bar-b, .ui-body-b, .ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b, .ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c, .ui-bar-d, .ui-body-d, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-bar-e, .ui-body-e, .ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e, .ui-btn-active
{
    text-shadow: none;
}

/******

******/

.approvalBlock
{
    margin-bottom: 5px;
    background-color: White;
    display: block;
}

.approvalBlock h3
{
    margin: 0px;
    padding-bottom: 4px;
}

.error
{
    color: Red;
    font-size: xx-large;
    text-align: center;
}

table
{
    border: 3px solid #aaaaaa;
    font-size: 8px;
}

table th
{
    border-right: 1px solid black;
    background-color: #aaaaaa;
    padding-left: 5px;
    padding-right: 5px;
}

table td
{
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    padding-left: 5px;
    padding-right: 5px;
}