﻿@model SIMS.MobileApprover.ApprovalRequestModel
<table class="approvalBlock">
    <tr>
        <td>
            <img src="@Url.Content(Model.IconPath)" style="width:50px; height:50px; margin-right:20px" alt="Bullet" title="@Model.IconPath"/>
        </td>
        <td style="width: 100%">
            <div>
                <span style="color: #FF530D; font-size: 18px">[@Model.ApprovalFor:&nbsp;&nbsp;@Model.ApprovalForID]</span>
                <br />
                <span style="color: #09564D; font-size: 16px"><i>Reference No: </i><b>@Model.ApprovalForRef</b>
                </span>
                <br />
                <span style="color: #09564D; font-size: 14px"><i>Date: </i><b>@Model.DateTime</b>
                </span>
                <br />
                <span>@Model.Title </span>
                <br />@Html.ActionLink("Details", "Details", new { For = Model.ApprovalFor, id = Model.ApprovalForID })
                @Model.Details
            </div>
            <hr />
        </td>
    </tr>
</table>
