﻿@model SIMS.MM.MODEL.MPR
<div style="overflow: auto; font-size: 8px;">
    <h2>@Model.ReferenceNo</h2>
    <table>
        <tr>
            <td>
                <b>Site:</b>
            </td>
            <td>@Model.Site
            </td>
        </tr>
        <tr>
            <td>
                <b>Vendor:</b>
            </td>
            <td>@Model.Vendor
            </td>
        </tr>
        <tr>
            <td>
                <b>Raised by:</b>
            </td>
            <td>@Model.RaisedBy <i>on @Model.RaisedOn.ToString("MMM dd, yyyy")</i>
            </td>
        </tr>
        @*        <tr>
            <td>
                <b>Total Amount:</b>
            </td>
            <td>
                Rs. @Model.GrandTotal/-
            </td>
        </tr>*@
    </table>
    <br />
    @*<b>Site:</b> @Model.Site
        <br />
        <b>Vendor:</b> @Model.Vendor
        <br />
        <b>Raised by</b> @Model.RaisedBy <i>on @Model.RaisedOn.ToString("MMM dd, yyyy")</i>
        <br />
        <b>Total: </b>Rs. @Model.GrandTotal/-*@
    @if (@Model.IsVerified == true)
    {
        <span style="color: #FF530D; font-size: 10px"><i><b>Verfied By <ins>@Model.VerifiedBy</ins>
            on <ins>@Model.VerifiedOn.Value.ToString("MMM dd, yyyy")</ins></b></i>
            <br />
        </span>
    }
    @if (@Model.IsReqApproved == true)
    {
        <span style="color: #FF530D; font-size: 10px"><i><b>MI Approved By <ins>@Model.ReqApprovedBy</ins>
            on <ins>@Model.ReqApprovedOn.Value.ToString("MMM dd, yyyy")</ins></b></i>
            <br />
        </span>
    }
    @if (@Model.IsApproved == true)
    {
        <span style="color: #FF530D; font-size: 10px"><i><b>PO Approved By <ins>@Model.ApprovedBy</ins>
            on <ins>@Model.ApprovedOn.Value.ToString("MMM dd, yyyy")</ins></b></i>
            <br />
        </span>
    }
    <br />
    <div style="overflow: auto">
        <table class="mytable" cellspacing="0" style="background-color: #dddddd">
            <tr style="background-color: #aaaaaa">
                <th>
                    SNo.
                </th>
                <th>
                    <a>Item</a>
                </th>
                <th>
                    Size
                </th>
                <th>
                    Make
                </th>
                <th>
                    Unit
                </th>
                <th>
                    TO Dispatch
                    <br />
                    (Till Now)
                </th>
                <th>
                    Raised
                    <br />
                    Qty
                </th>
                @if (Model.IsVerified)
                {
                    <th>
                        Pending
                        <br />
                        Qty
                    </th>
                    <th>
                        TO Qty
                    </th>
                    <th>
                        Store
                        <br />
                        Qty
                    </th>
                    <th>
                        Pur.
                        <br />
                        Qty
                    </th>
                }
                <th>
                    Type
                </th>
                <th>
                    Remarks
                </th>
                @if (Model.IsReqApproved)
                {
                    <th>
                        Rate
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Excise                       
                    </th>
                    <th>
                        Amount
                    </th>
                }
            </tr>
            @foreach (var line in Model.PRLines)
            {
                <tr>
                    <td>
                        @line.LineID
                    </td>
                    <td>
                        @*@line.ItemName*@
                        @Html.ActionLink(@line.ItemName, "GetSiteWiseStock", new { id = @line.ItemID, siteid = @Model.SiteID, size = @line.SizeID, brand = @line.BrandID },
                                         new { @class = "dialog" })
                    </td>
                    <td>
                        @line.Size
                    </td>
                    <td>
                        @line.Brand
                    </td>
                    <td>
                        @line.MeasurementUnit
                    </td>
                    <td style='background: Orange;'>
                        @line.TODispInfo.TODispQty
                    </td>
                    <td>
                        @line.OriginalQty
                    </td>
                    @if (Model.IsVerified)
                    {
                        <td>
                            @line.Quantity
                        </td>
                        <td>
                            @line.SplittedQuantity
                        </td>
                        <td>
                            @line.AvailableQty
                        </td>
                        <td>
                            @{
                       var x = (line.Quantity + line.SplittedQuantity) - line.AvailableQty;
                            }
                            @x
                        </td>
                    }
                    <td>
                        @line.ConsumableType
                    </td>
                    <td>
                        @line.LineRemarks
                    </td>
                    @if (Model.IsReqApproved)
                    {
                        <td>
                            @line.UnitPrice
                        </td>
                        <td>
                            @if (line.DiscountType == "Rs.")
                            { 
                                <span>Rs. @line.Discount /-</span> 
                            }
                            else if (line.DiscountType == "%")
                            {
                                <p>
                                    @line.Discount %
                                    <br />
                                    Rs. @line.DiscountAmount /-
                                </p>
                            }
                            else
                            {
                                @:-
                                                                                                                                                                                                    }
                        </td>
                        <td>
                            @if (line.ExciseIn == "Rs.")
                            { 
                                <span>Rs. @line.Excise /-</span> 
                            }
                            else if (line.ExciseIn == "%")
                            {
                                <p>
                                    @line.Excise %
                                    <br />
                                    Rs. @Math.Round(line.ExciseAmount, 0) /-
                                </p>
                            }

                            else
                            {
                                @:-
                                                                                                                                            }
                        </td>
                        <td>
                            @Math.Round(line.TotalLinePrice, 0)
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <br />
    @*<ul data-role="listview" data-inset="true" data-divider-theme="b">
        <li data-role="list-divider" role="heading">Lines </li>
        @foreach (var line in Model.PRLines)
        {
            <li data-theme="c"><span style="text-align: justify; font-size: 16px; white-space: pre-wrap">
                @line.ItemID @line.Item
            </span>
                <br />
                <b>Size: </b>@line.Size
                <br />
                <b>Make: </b>@line.Brand
                <br />
                <b>Qty: </b>@line.Quantity @line.MeasurementUnit @@ Rs.@line.UnitPrice = Rs.@line.LinePrice/-
                <br />
                @if (!String.IsNullOrWhiteSpace(line.LineRemarks))
                {
                    <small><span>Remarks: @line.LineRemarks
                    </span></small>
                }
            </li>
        }
    </ul>*@ <b>Remarks:</b><br />
    @Model.PRRemarks
    <br />
    @if (Model.IsReqApproved)
    {
        <table>
            <tr>
                <td>
                    <b><i>Sub Total:</i></b>
                </td>
                <td>
                    Rs.
                    @Math.Round(Model.TotalValue, 0) /-
                </td>
            </tr>
            <tr>
                <td>
                    <b><i>VAT:</i></b>
                </td>
                <td>
                    @Model.pVAT % (
                    @Math.Round((@Model.TotalValue * @Model.pVAT) / 100, 0)
                    )
                </td>
            </tr>
            <tr>
                <td>
                    <b><i>CST:</i></b>
                </td>
                <td>
                    @Model.pCST %(
                    @Math.Round((@Model.TotalValue * @Model.pCST) / 100, 0)
                    )
                </td>
            </tr>
            <tr>
                <td>
                    <b><i>Frieght:</i></b>
                </td>
                <td>
                    Rs. @Model.Frieght /-
                </td>
            </tr>
            <tr>
                <td>
                    <b><i>Total:</i></b>
                </td>
                <td>
                    Rs.
                    @Math.Round(Model.GrandTotal, 0) /-
                </td>
            </tr>
        </table>
    }
</div>
@*<script type="text/javascript">
    $(function () {
        $('a.dialog').click(function () {
            var url = $(this).attr('href');
            var dialog = $('<div style="display:none"></div>').appendTo('body');
            dialog.load(url, {},
                function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                        close: function (event, ui) {
                            dialog.remove();
                        }
                    });
                });
            return false;
        });
    });
</script>*@ 