﻿@if (Request.IsAuthenticated)
{
    <text>Welcome <strong>@User.Identity.Name</strong>! 
    [ @Html.ActionLink("Log Off", "LogOff", "Account", new { Title = "Log Out" })
    ]</text>
}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "Account", new { Title = "Log In" }) ]
}
