﻿
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Log Out", "Index", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear", Title = "Log Out" })
    <span style="text-align: right;">WELCOME <b>@User.Identity.Name!</b> </span>
}
else
{
    @Html.ActionLink("Log in", "LogOn", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear", Title = "Log In" })
}
