﻿@model object
@{
    ViewBag.Title = "Details";
    var detailedPVName = ViewBag.PartialViewName as String;
    int ApprovalForID = ViewBag.ApprovalForID;
    string ApprovalFor = ViewBag.ApprovalFor;
    string By = ViewBag.UserName;
    bool HasPVName = !String.IsNullOrWhiteSpace(detailedPVName);
}
<center>
    <span class="error">@ViewBag.err</span></center>
@if (HasPVName)
{
    @Html.Partial(detailedPVName, Model)
}
else
{
    @Html.DisplayForModel()
}
<div style="font-size: 8px;">
    <div>
        @using (Html.BeginForm("Approve", "PR", new { ID = @ApprovalForID, By = By, For = @ApprovalFor, boolvalue = true }, FormMethod.Get))
        {
            <b><i>Approval Remarks:</i></b>
            <textarea style="width: 100%; height: 30px; max-height: 50px" name="Comment" id="Comment"></textarea>
            <input type="submit" value="@ViewBag.approve" data-icon="check" data-iconpos="left" data-inline="true"/>
            @*<a href="@Url.Action("Approve", new { ID = @ApprovalForID, By = By, For = @ApprovalFor, boolvalue = true })" data-role="button" data-icon="check" data-iconpos="left" data-inline="true">@ViewBag.approve</a>
            <br />*@
        }
        @using (Html.BeginForm("Approve", "PR", new { ID = @ApprovalForID, By = By, For = @ApprovalFor, boolvalue = false }, FormMethod.Get))
        {
            <b><i>Rejection Remarks:</i></b>
            <textarea style="width: 100%; height: 30px; max-height: 50px" name="Comment" id="Comment"></textarea>
            <input type="submit" value="@ViewBag.reject" data-icon="delete" data-iconpos="left" data-inline="true"/>
            @*<a href="@Url.Action("Approve", new { })" data-role="button" data-icon="delete" data-iconpos="left" data-inline="true">@ViewBag.reject</a> *@
        }
    </div>
    <a href="@Url.Action("Index")" data-role="button" data-icon="back" data-iconpos="left">
        All Approvals</a>
</div>
