﻿@model IEnumerable<SIMS.MM.DAL.GetDetailedStockReportResult>
@{
    ViewBag.Title = "Current Stock";
}
<h2>
    Current Stock</h2>
<p>
    <a href="javascript:window.history.back()">Back</a>
</p>
<table>
    <tr>
        <th>
            Site
        </th>
        <th>
            Stock
        </th>
        <th>
            Size
        </th>
        <th>
            Brand
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.siteid == item.SiteID)
            {
                <td style='background: Orange;'>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
            }
            else
            { 
                <td>
                    @Html.DisplayFor(modelItem => item.Site)
                </td>
            }
            @if (ViewBag.size == item.SizeID && ViewBag.brand == item.BrandID && ViewBag.siteid == item.SiteID)
            {
                <td style='background:Orange;'>
                    @Html.DisplayFor(modelItem => item.ClosingBalance)
                </td>
                <td style='background: Orange;'>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td style='background: Orange;'>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
            }
        </tr>
    }
</table>
