﻿@model IEnumerable<SIMS.MobileApprover.ApprovalRequestModel>
@{
    if (Model.Count() == 0)
    {
        ViewBag.Title = "No Approvals are Pending!";
    }
    else
    {
        ViewBag.Title = "Pending Approvals :";
    }
}
<h2>@ViewBag.Title</h2>
@foreach (var item in Model)
{
    @Html.DisplayFor(model => item);
}
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalForID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalForRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDetalils)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalForID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalForRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDetalils)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@ 